@import url("http://fonts.cdnfonts.com/css/pokemon-solid");
.App {
  height:100%;
  width: 100%;
  font-family: 'Pokemon Solid', sans-serif;
  margin: auto;
  background-color: #E6BC2F;
                                                
}

