.Container{
  display: flex;
  
  justify-content: center;
  padding: 2px;
  color:  #0075BE
  
}

.DivStyle {
  
    width:'500px';
    height: 'maxheigth';
    display: 'flex';
    flex-direction: 'row';
    flex-wrap: 'wrap'
  }

.Sort {
  display: inline-flex;
    align-items: baseline;
    
}

.FilterDiv  {
  display: flex;
    align-items: end;

}

.SubContainer{
  width: 50%;
  display: contents
  
}
.FiltLabel{
  margin-right: 10px;
  font-size: 20px;
}

.Label{
  margin-right: 2.5px;
}

.buttons {
  display: inline-flex;
  align-items: center;
}

.select {
  background-color: #4DAD5B;
  color: #fff;
  border-radius: 20px;
  height: 25px;
  width: 100px;
  margin: 10px;
}

.button {
  border-radius: 20px;
  height: 25px;
  background-color: #E54222;
  border-color: #E54222;
  margin-right: 10px;
  color: #fff;
}

@media  screen and (max-width: 425px) {
  .Container{
    display: contents;
  }

  .SubContainer{
    display: grid;
  }

  .FilterDiv  {
    
    display: inline-flex;
  
  }

  .Label{
    width: 100%;
    text-align: end
  }

  .select {
    width: 100%;
  }

  .Sort {
    display: grid;
    align-items: baseline;
    justify-content: center;
    width: 100%;
  }
  .FiltLabel{
    margin: none;
    width: 100%;
    text-align: center
  }
}