.Container{
    width: 100%;
    height: 100%;
    position: absolute;
    width: 100%;
    height: 100%;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.DivStyle{
    border: 1px;
    border-color: black;
    justify-content: center;
    width:100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.PageButons{
    position: bottom;
    
}