.Container{
    align-items: center;
    display:flex;
    flex-direction: column;
    padding-bottom: 10px;
}

.DivImage{
    align-items:center;
    display:grid;
    box-shadow: 3px black ;
    
}

.imageStyle{
    width:35vw;
    margin: auto;
}

.StatsDiv{
   margin-left:  20px;
    align-items: center;
   
 
    width: 150px;
    
}

.TypesDiv{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 150px;
    
    
}

.SubContainer{
    width: 60vw;
    align-items: center;
    display: flex;
    flex-direction: row;
    border: 1px solid #fff;
    padding: 5px;
    margin-bottom: 20px;
    z-index: 999;
    
    backdrop-filter: blur(3px);
    background: rgb(255,255,255,0.133);
    box-shadow: 0 0 6px rgb(29 29 29 / 20%);
    margin-bottom: 20px;
    border-radius: 20px;
}

.pokName{
    display: flex;
    justify-content: center;
    color:#0075BE;
    margin: 0 auto;
    text-align: center;
}

.pokId{
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    color:#0075BE;
    width: 100%;
    text-align: center;
    
}

.typeNom{
    margin: 0 auto;
    margin: 5px;
    color:#0075BE;
}

.Field{
    display: flex;
    margin: auto;

}
.p{
    margin: auto;
    display: flex;
}

.span{
    display: flex;
    margin: auto;
}

.caption {
    color: #0075BE;
    font-size: 2.5em;
    font-weight: bolder;
  }

  .span {
    font-size: 1.5em;
    font-weight: bold;
    width: 4.5rem;
    text-align: right;
    color: #0075BE;
  }

  .td {
    width: 100vw;
    min-width: 4rem;
    max-width: 4rem;
    text-align: right;
    color:  #CE2211;
  }
  table {
   
    border-collapse: collapse;
    border: 0;
    width: 100%;
    position: relative;
    margin-top: 3rem;
  }

  @media  screen and (max-width: 425px) {
    .SubContainer{
        display: grid;
    }
    .DivImage{
        display: contents;
    }

  }